<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gusty.mybatis.mapper.UserMapper">

    <!--int insertUser();-->
    <insert id="insertUser">
        insert into t_user values (null, 'admin', '123456','20', '男', '123@gmail.com')
    </insert>

    <!--void updateUser();-->
    <update id="updateUser">
        update t_user set username='爸爸' where id = 3
    </update>

    <!--void deleteUser();-->
    <delete id="deleteUser">
        delete from t_user where id=5
    </delete>

    <!--User getUserById();-->
    <!--
        查詢功能的標籤必須設置resultType或resultMap
        resultType: 設置默認的映射關係
        resultMap: 設置自訂義的映射關係
    -->
    <select id="getUserById" resultType="com.gusty.mybatis.pojo.User">
        select * from t_user where id=3
    </select>

    <!-- List<User> getAllUser();-->
    <select id="getAllUser" resultType="user">
        select * from t_user
    </select>
</mapper>